$feuerwehr_logo_red: #ff3b26;
$feuerwehr_logo_gold: #d8af6c;
$feuerwehr_background_grey: #eaeaea;
$feuerwehr_background_red_dark: #c30012;
$feuerwehr_background_red_light: #e0071b;

$primary: #a41c31;
$body-bg: $feuerwehr_background_grey;

@import 'light';
@import 'base';
