# Docker config
docker/
!docker/entrypoint.sh
!docker/nginx.conf
!docker/*exporter
!docker/grafana-agent-linux-amd64
!docker/grafana-agent.yml

# Configuration
config/config.php

# Files
.dockerignore
*.git*
.editorconfig
deployment.tpl.yaml
storage/cache/
!storage/cache/.gitignore
!storage/cache/views/.gitignore
